/* Custom Form Styles */
.custom-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-floating {
  margin-bottom: 20px;
}

.formControl {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.formLabel {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.errorMessage {
  color: #f00;
  margin-top: 1px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Select Wrapper Styles */
.select-wrapper {
  position: relative;
}

/* Style the Select Element */
.selectWrapper {
  width: 104%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

/* Style the Arrow Icon (in modern browsers) */
.select-wrapper select::after {
  content: "\25BC"; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the Arrow Icon (in older versions of Safari) */
.select-wrapper select::-webkit-select-placeholder {
  color: #999;
}

/* Style the Dropdown List */
.select-wrapper select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.radiobutton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}
