.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* YourStyles.css */

/* Style for the grid container */
.gridContainer {
  display: block;
  grid-template-columns: repeat(3, 1fr); /* 2 columns */
  gap: 16px; /* Adjust the gap between items */
}

.welcomeMessage {
  display: inline;
}

.grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}

.gridItem {
  padding: 10px;
  border-radius: 5px;
}
