.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
  color: #000;
  width: 20%;
}
